/* Enter your custom styles here */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
    overflow: hidden;
    background: url("../assets/img/holiday.jpg") center / cover;
}

.sapUiBody {
    background: rgba(0, 0, 0, 0.5);
}

.main {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    display: flex;
    border-radius: 30px !important;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
    box-shadow: 3px 3px 20px 3px black;
    color: white;
}

.sidenav {
    height: 100%;
    width: 20%;
    box-shadow: 0px 5px 20px 0px black;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidenav>div {
    width: 100%;
    height: 28%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.user {
    align-items: flex-start;
    flex-wrap: nowrap;
}

.user .userpic {
    width: 30%;
    background: skyblue;
    margin-right: 1rem;
}

.user .username {
    width: 70%;
}

.info {
    align-items: center;
    flex-wrap: wrap;
}

.info .infoitem {
    width: 100%;
}

.buttons {
    align-items: flex-end;
}

button:focus {
    outline: 0;
}

.btn {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 10px;
}

.content {
    height: 100%;
    width: 80%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.grid {
    margin: 1rem;
}