<template data-controller-name="ui5.BestUI5Project.controller.Main">
  <div id="app" data-sap-ui-type="sap.m.App">
    <div class="main">
      <div class="sidenav">
        <div class="user">
          <div class="userpic">Bild</div>
          <div class="username">Andreas Karg</div>
        </div>
        <div class="info">
          <div class="infoitem">Hab ich in vscode gemacht</div>
          <div class="infoitem">Item 2</div>
          <div class="infoitem">Item 3</div>
          <div class="infoitem">Item 4</div>
        </div>
        <div class="buttons">
          <button class="btn">Button 1</button>
          <button class="btn">Button 2</button>
        </div>
      </div>
      <div class="content">
        <div class="grid">
          Grid kommt hier
        </div>
      </div>
    </div>
  </div>
</template>